@model webServerTask.Models.User
@{
    ViewData["Title"] = "Create";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Register Page </title>
    <link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" />
</head>
<body>
    <form>
        <label> Username </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="name" name="Username" placeholder="Enter your name" size="15" required style="height: 25px"/>
        <p>
            <label>Display name</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="nickname" name="displayname" placeholder="Enter nickname" size="15" required style="height: 25px"/>
        <p>
            <label for="password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="password" id="password" placeholder="Enter password" name="password" style="height: 25px"
                   pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/"
                   title="Must contain at least one uppercase or lowercase letter and one digit" required>
        <p>
            <label for="confirm-password">Confirm password</label>&nbsp;&nbsp;
            <input type="password" id="confirm-password" placeholder="Enter password again" name="confirm-password" required style="height: 25px">
        <p>
            <label>Upload a photo (optional)</label>&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="file" id="image_input" accept="images/*">
            <div id="display_image"></div>
        <p>
            <input type="button" onclick="validateForm()" value="Register" style="font-size: 20px; height: 35px">
            Already registered? <a href="login.html"> Click here </a> to login

    </form>
    <script src="register.js"></script>
    <script src="allUsers.js"></script>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
