@model webServerTask.Models.User

@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

</head>
<body>
    <form>
        <div class="container">
               <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" id="name" placeholder="Enter Username"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <p>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" id="password" placeholder="Enter Password" asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <p>
                <p>
                    <input type="button" onclick="validateLogin()" value="Login" style="font-size: 20px; height: 35px; width: 75px">
                    Not registered? <a asp-action="Create">Click here</a> to register
                  
        </div>
</form>
    <script src="~/js/Login.js" asp-append-version="true"></script>
    <script src="~/js/AllUsers.js" asp-append-version="true"></script>
    <script src="~/js/Create.js" asp-append-version="true"></script>
</body>
</html> 

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}