<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

</head>
<body>
    <form>
        <div class="container">
            <label>Username</label>
            <input type="text" id="name" placeholder="Enter Username" name="username" required style="height: 25px">
            <p>
            <label>Password</label>&nbsp;
            <input type="password" id="password" placeholder="Enter Password" name="password" required style="height: 25px">
            <p>
                    <input type="button" onclick="validateLogin()" value="Login" style="font-size: 20px; height: 35px; width: 75px">
                    Not registered? <a asp-action="Create">Click here</a> to register
                  
        </div>
</form>
    <script src="~/js/Login.js" asp-append-version="true"></script>
    <script src="~/js/AllUsers.js" asp-append-version="true"></script>
    <script src="~/js/Register.js" asp-append-version="true"></script>
</body>
</html> 
