#display_image {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-position: center;
    background-size: cover;
}

body {
    background-color: aliceblue;
    text-align: center;
    font-size: 25px;
    padding: 5% 30%;
}

form {
    color: honeydew;
    background-color: gray;
}
