﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the chatApp</h1>
    <p>Click <a asp-controller="Users" asp-action="Login">here</a> to login</p>
</div>
